* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0f172a;
  color: #f8fafc;
}

/* HERO */
.hero {
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
  z-index: -1;
}

.hero h1 {
  font-size: 4rem;
}

.hero p {
  font-size: 1.3rem;
  margin: 15px 0;
}

.hero button {
  padding: 12px 25px;
  border: none;
  background: #38bdf8;
  color: #0f172a;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
}

/* CONTENT */
main {
  padding: 50px 10%;
}

.card {
  background: #1e293b;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 30px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* PROFILE CARD */
.profile {
  display: flex;
  gap: 20px;
  align-items: center;
}

.profile img {
  width: 150px;
  border-radius: 50%;
  border: 4px solid #38bdf8;
}

/* CONTENT IMAGE */
.content-img {
  width: 100%;
  margin: 15px 0;
  border-radius: 15px;
}

.card h2 {
  color: #38bdf8;
  margin-bottom: 10px;
}

.card button {
  margin-top: 10px;
  padding: 10px 20px;
  background: #22c55e;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}