body{
    background-color: chocolate;
    text-align: center;
    font-family: cursive;
    font-size: 25pt;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;    
}
.interface{
    border-radius: 5px;
    background-color: white;
    width: 500px;
    text-align: center;
    padding: 0px;
    color: black;
}
button{
    border-radius: 3px;
    border: none;
    padding: 5px;
    background-color: rgba(4, 100, 94, 0.355);
}
button:hover{
    color: white;
    transform: scale(1.1);
    transition: 0,3s;
}
input{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
}